/*$Id: zohosites.css,v 3031:bd24f3e237bd 2011/11/21 05:32:58 thangam $*/
.zpformdata table{background:transparent; border:0px solid transparent}
.zpformdata th{background:transparent;border:0px solid transparent;}
.zpformdata td{background:transparent;border:0px solid transparent;}
